section,
.section,
.footer {
    padding: calc(var(--spacer) * 3.125) 0;
    max-width: 1200px;
    margin: auto;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.highlight {
    color: var(--primary);
}

.text-align {
    text-align: center;

    @media screen and (min-width: $desktop) {
        text-align: left;
    }
}

.mb-2 {
    margin-bottom: calc(var(--spacer) * 2);
}

.mb-1 {
    margin-bottom: calc(var(--spacer) * 1);
}

.mt-2 {
    margin-top: calc(var(--spacer) * 2);
}

.my-2 {
    margin-block: calc(var(--spacer) * 2);
}
