header,
section,
footer {
    max-width: 1200px;
    margin: auto;
}

.section,
.footer {
    padding: calc(var(--spacer) * 3.125) 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.m-0 {
    margin: 0;
}

.mt-1 {
    margin-top: calc(var(--spacer) * 1);
}

.mt-2 {
    margin-top: calc(var(--spacer) * 2);
}

.mt-3 {
    margin-top: calc(var(--spacer) * 3);
}

.mb-1 {
    margin-bottom: calc(var(--spacer) * 1);
}

.mb-2 {
    margin-bottom: calc(var(--spacer) * 2);
}

.mb-3 {
    margin-bottom: calc(var(--spacer) * 3);
}

.my-1 {
    margin-block: calc(var(--spacer) * 1);
}

.custom-alignment-center {
    margin-left: auto;
    margin-right: auto;
}
