.footer {
    background-color: var(--footer-background);
    &__logo {
        margin: auto;
    }
    &__link {
        color: var(--footer-link);
        transition: color 300ms ease-in-out;
        &:hover {
            color: var(--white);
        }
    }
    &__icon {
        & path {
            fill: var(--footer-link);
            transition: fill 300ms ease-in-out;
        }
        &:hover path {
            fill: var(--white);
        }
    }
}