header {
    @media (max-width: $for-tablet-any-mode) {
        padding: 1rem 0;
    }
}

.navbar {
    position: relative;
    @media (max-width: $for-tablet-any-mode) {
        --direction: column;
        &.a-i-center {
            --align-items: flex-start;
        }
    }
}

.brand-title {
    font-size: 1.5rem;
}

.navbar-links {
    height: 100%;
    @media (max-width: $for-tablet-any-mode) {
        display: none;
        width: 100%;
        &.active {
            display: flex;
        }
    }
}

.nav {
    display: flex;
    margin: 0;
    padding: 0;
    @media (max-width: $for-tablet-any-mode) {
        width: 100%;
        flex-direction: column;
    }

    &__item {
        list-style: none;
        @media (max-width: $for-tablet-any-mode) {
            text-align: center;
        }
        &:hover {
            background-color: #555;
        }
    }

    &__link {
        color: white;
        display: block;
        text-decoration: none;
        padding: 0.75em 2em;
        @media (max-width: $for-tablet-any-mode) {
            padding: 0.5rem 1rem;
        }
    }
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    position: absolute;
    top: 0;
    right: 0;
    @media (max-width: $for-tablet-any-mode) {
        display: flex;
    }
    & .bar {
        background-color: var(--white);
        border-radius: 10px;
        height: 3px;
        width: 100%;
    }
}
