// Flex container classes
.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: var(--direction, row);
    align-items: var(--align-items, stretch);
    justify-content: var(--justify-content, center);
    gap: var(--gap, 0);

    &__item {
        @media screen and (min-width: $for-tablet-any-mode) {
            flex: 1 1 auto;
            flex-basis: 45%;
        }
    }
}

.j-c-between {
    @media screen and (min-width: $for-tablet-any-mode) {
        --justify-content: space-between;
    }
}

.f-direction {
    --direction: column;
}

.a-i-center {
    --align-items: center;
}

.gap {
    --gap: 2rem;
}

.grow {
    flex-grow: 1;
}
